h2
{ 
  margin-left:200px;
  font: 24px verdana,sans-serif;
}
.dropdownLang
{
  display: flex;
  align-items: center;
  justify-content: center;
}
Select {
    width: 165px;
    height:20px;
    margin: 10px;
    font-size:11pt;
    color:rgba(0, 0, 0, 0.719);
}
#dropdownSent
{ 
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
p
{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
#para1
 {
  margin-top:-3px;
  font:8px ;
  color:blue;
  font-style:oblique;
  font-family:'Lucida Sans Unicode';
}
#myDIV
{
  display: flex;
  align-items: center;
  justify-content: center;
}
table th{
  width:auto;
  height:27px;
  color: #961b25;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Verdana,Arial,sans-serif;

}
td{
    font-size: 17px;
    font-weight: normal;
    color:rgba(0, 0, 0, 0.699);
  font-family:'Lucida Sans Unicode';
    padding: 8px;
    display:table-cell;
    vertical-align: baseline;
    margin:0;
    height:27px;
}
table {
  border-collapse: collapse;
}
table td, table th {
  border: 2px solid #b2bbc0;
}
table tr:first-child th {
  border-top: 1px lightgrey;
}
table tr:last-child td {
  border-bottom: 1px lightgrey;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 1px lightgrey;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 1px lightgrey;
}
.dropdown-menu{
  margin-top: 0px;
  margin-left: 1px;
  margin-bottom: 0px;
  margin-right: 1px;
}


