h2{
  font: 24px verdana,sans-serif;
}
.container
{
  display: flex;
  align-items: center;
  justify-content: center;
 }
p
{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
 }
 #para1 {
  font:18px;
  color:rgb(10, 40, 180);
  font-weight:bold;
  font-family:'Lucida Sans Unicode';
  

}
#para2 {
  margin-top:0px;
  font:8px ;
  color:blue;
  font-style:oblique;
  font-family:'Lucida Sans Unicode';
  

}
#more
{ 
  margin-top: -10px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
#para3 {
  margin-top: -5px;
  font:18px;
  color:rgb(10, 40, 180);
  font-weight:bold;
  font-family:'Lucida Sans Unicode';

  

}
#para4 {
  margin-top: -5px;
  font:13px;
  color:blue;
  font-style:oblique;
  font-family:'Lucida Sans Unicode';

  

}
#reform
{ 
  display:flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin:auto;
  border: none;
 }
h1
{
  display:flex;
  align-items: center;
  justify-content: center;
  font:32px verdana,sans-serif;
  margin-top:-15px;
  border: none;
  line-height: 0px;
  padding:0px 0px 0px 0px;
 }
 #correct
{ 
  display:flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin:auto;
  border: none;
 }
 #result
 { 
   display:flex;
   align-items: center;
   justify-content: center;
   margin:auto;
   border: none;
   font:30px verdana,sans-serif;
  }
  
 
 
 
