h2{
  font: 24px verdana,sans-serif;
}
.container
{
  display: flex;
  align-items: center;
  justify-content: center;
 }
p
{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
 }
 #para1 {
  font:18px Arial,sans-serif;
  color:rgb(10, 40, 180);
  font-weight:550;
  

}
#para2 {
  font:16px Arial,sans-serif;
  color:blue;
  font-style:oblique;
  

}
#more
{
  display: flex;
  align-items: center;
  justify-content: center;
 }
#para3 {
  font:18px Arial,sans-serif;
  color:rgb(10, 40, 180);
  font-weight:550;

  

}
#para4 {
  font:16px Arial,sans-serif;
  color:blue;
  font-style:oblique;

  

}
#reform
{ 
  display:flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin:auto;
  border: none;
 }
h1
{
  display:flex;
  align-items: center;
  justify-content: center;
  font:32px verdana,sans-serif;
  margin-top:-15px;
  border: none;
  line-height: 0px;
  padding:0px 0px 0px 0px;
 }
 
 
 
